# Resume Parsing

###### import libraries

In [3]:
import glob
import pandas as pd
from resume_parser import resumeparse

In [2]:
list_of_resume = glob.glob('resume collated data/approved/*.pdf')
list_of_resume

['resume collated data/approved\\Amrender_CV Latest.pdf',
 'resume collated data/approved\\Anand.pdf',
 'resume collated data/approved\\Anuradha update Resume.pdf',
 'resume collated data/approved\\ashokaDot51193@gmailDotcom.pdf',
 'resume collated data/approved\\Baiju Kumar Singh Resume.pdf',
 'resume collated data/approved\\Bhakthipoorna.pdf',
 'resume collated data/approved\\DehliaRedke.pdf',
 'resume collated data/approved\\Dinesh_resume.pdf',
 'resume collated data/approved\\Divyanshu_Resume.pdf',
 'resume collated data/approved\\Gowtham.pdf',
 'resume collated data/approved\\Mayank Sharma.pdf',
 'resume collated data/approved\\Nagendra Singh Chauhan Resume.pdf',
 'resume collated data/approved\\Nishkarsh Singh[3_0].pdf',
 'resume collated data/approved\\PrajnaDas.pdf',
 'resume collated data/approved\\Rajeshwarsehdev Resume.pdf',
 'resume collated data/approved\\Resume_Kunal Gaurav.pdf',
 'resume collated data/approved\\Resume_MandarKulkarni.pdf',
 'resume collated data/approved\\Rohit Khemka_CV.pdf',
 'resume collated data/approved\\Sai Kumar Resume.pdf',
 'resume collated data/approved\\Saichawan_landmarkgroup_3years.pdf',
 'resume collated data/approved\\Savneet Kaur Arora Resume.pdf',
 'resume collated data/approved\\Shubham Rai Resume.pdf',
 'resume collated data/approved\\Sindhumatipanigrahi@gmailDotcom.pdf',
 'resume collated data/approved\\Soumojit Chowdhury_Resume.pdf',
 'resume collated data/approved\\Sourav_Bhunia_Resume_v2.pdf',
 'resume collated data/approved\\Vivek Resume.pdf']

In [4]:
parsed_df = pd.DataFrame(columns= ['email', 'phone', 'name', 'total_exp', 'university', 'designition', 'degree', 'skills', 'Companies worked at'])

###### Parsing each resume in the file

In [6]:
for each_resume in list_of_resume:
    try:
        data = resumeparse.read_file(each_resume)
        data_unlist = {k: str(v) for k,v in data.items()}
        print(each_resume)
        parsed_df = parsed_df.append(pd.DataFrame(data_unlist,index =[0]))
    except:
        pass

resume collated data/approved\Amrender_CV Latest.pdf
resume collated data/approved\Anand.pdf
resume collated data/approved\Anuradha update Resume.pdf
resume collated data/approved\ashokaDot51193@gmailDotcom.pdf
resume collated data/approved\Baiju Kumar Singh Resume.pdf
resume collated data/approved\Bhakthipoorna.pdf
resume collated data/approved\DehliaRedke.pdf
resume collated data/approved\Dinesh_resume.pdf
resume collated data/approved\Divyanshu_Resume.pdf
resume collated data/approved\Gowtham.pdf
resume collated data/approved\Mayank Sharma.pdf
resume collated data/approved\Nagendra Singh Chauhan Resume.pdf
resume collated data/approved\Nishkarsh Singh[3_0].pdf
resume collated data/approved\PrajnaDas.pdf
resume collated data/approved\Rajeshwarsehdev Resume.pdf
resume collated data/approved\Resume_MandarKulkarni.pdf
resume collated data/approved\Rohit Khemka_CV.pdf
resume collated data/approved\Sai Kumar Resume.pdf
resume collated data/approved\Saichawan_landmarkgroup_3years.pdf
resume collated data/approved\Savneet Kaur Arora Resume.pdf
resume collated data/approved\Shubham Rai Resume.pdf
resume collated data/approved\Sindhumatipanigrahi@gmailDotcom.pdf
resume collated data/approved\Soumojit Chowdhury_Resume.pdf
resume collated data/approved\Sourav_Bhunia_Resume_v2.pdf
resume collated data/approved\Vivek Resume.pdf

In [7]:
parsed_df

,email,phone,name,total_exp,university,designition,degree,skills,Companies worked at
0,Email-aky7347@gmail.com,8247567046,Email-aky7347@gmail.com Contact-8247567046,3,[],"['data scientist', 'scientist', 'data miner', ...",[],"['Analytics Skills', 'Supervised learning', ' ...",[]
0,anand80696@gmail.com,+91 9686301746,Power BI,0,['bangalore university'],"['team facilitator', 'facilitator']",[],['Good learning abilities and quick grasping s...,['2020 M.Sc (Statistics']
0,anuradhaj719@gmail.com,8340397583,Anuradha Jha,0,['lalit narayan mithila university'],"['software developer', 'software engineer']",[],"['- C++', ' Python', ' c language', 'Framework...",['SOCIAL PROFILES LinkedIn']
0,ashoka.51193@gmail.com,+91 9611816904,Products Products,5,[],"['data scientist', 'scientist']",['Bachelor of Engineering (VTU'],"['+91 9611816904', 'hridharagadde', '', 'Bella...",[]
0,singhbaiju94@gmail.com,+91 7338631508,BAIJU KUMAR,2004,[],"['data scientist', 'scientist', 'partner', 'cl...",[],"['Known: English and Hindi', 'Kaggle Id: https...",['Present Larsen & Toubro Technology Services ...
0,bhakthipoorna@gmail.com,018-2020,,1,['mangalore university'],"['science intern', 'data scientist', 'scientist']",[],"['● Python ● R programming', '● Numpy ● Pandas...",[]
0,​dehliaredker@gmail.com,7385069520,DEHLIA REDKER,0,"['bangalore university', 'goa university']",['data analyst'],[],"['Python', 'SQL', 'CORE SKILLS', 'Mathematics'...",['Oracle']
0,dineshbabu0394@gmail.com,+91 8072215500,DINESH BABU,3,[],"['data scientist', 'scientist', 'business deve...",[],"['Pre-processing: Pandas', ' Numpy', 'Visualiz...",['Face Recognition']
0,dev26.sachan@gmail.com,+918979065633,DIVYANSHU SACHAN,0,[],"['product development', 'associate']",['e-commerce'],"['CODING ', 'Python', 'R', 'SQL', 'Hadoop', 'D...",['BNY Mellon The Bank of New York Mellon Corpo...
0,gowthamsasapu@gmail.com,7899436370,,0,[],"['data scientist', 'scientist', 'student', 'ba...",[],"['&', 'Liabraries', 'Data Analytics &', 'Wareh...",['PRATIAN TECHNOLOGIES INDIA PVT LTD.']
0,mayank.sharma2293@gmail.com,8285231222,MAYANK SHARMA,0,['banaras hindu university'],"['data scientist', 'scientist', 'data manageme...",[],"['Used Basic SQL', 'SPSS', 'MS-Word & MS-Excel...",[]
0,nagendra.231195@gmail.com,+91-8375020331,NAGENDRA SINGH,2,[],"['scientist', 'analyst programmer']",['B.Tech'],"['ó', 'Data Wrangling', 'Amazon Redshift (SQL)...",['Accenture Solutions']
0,nishkarshsingh94@gmail.com,7007867390,,0,[],"['data scientist', 'scientist', 'programmer an...",[],"['offers', 'business education', 'big data', '...",[]
0,https://inblog.in/@prajnadasstats,+91 7982273350,https://inblog.in/@prajnadasstats Tableau,0,"['indian statistical institute', 'university o...","['quality control', 'business analytics intern...",['Diploma degree'],"['Academics: Statistical Inference', ' Testing...",[]
0,rajeshwarsehdev@gmail.com,+91-8130752536,Rajeshwar Sehdev,5,['guru gobind singh indraprastha university'],"['data scientist', 'scientist', 'classifier']",[],"['framework', 'windows', 'ec2', 'big data', 'n...",[]
0,Email-aky7347@gmail.com,8247567046,Email-aky7347@gmail.com Contact-8247567046,3,[],"['data scientist', 'scientist', 'data miner', ...",[],"['Analytics Skills', 'Supervised learning', ' ...",[]
0,anand80696@gmail.com,+91 9686301746,Power BI,0,['bangalore university'],"['team facilitator', 'facilitator']",[],['Good learning abilities and quick grasping s...,['2020 M.Sc (Statistics']
0,anuradhaj719@gmail.com,8340397583,Anuradha Jha,0,['lalit narayan mithila university'],"['software developer', 'software engineer']",[],"['- C++', ' Python', ' c language', 'Framework...",['SOCIAL PROFILES LinkedIn']
0,ashoka.51193@gmail.com,+91 9611816904,Products Products,5,[],"['data scientist', 'scientist']",['Bachelor of Engineering (VTU'],"['+91 9611816904', 'hridharagadde', '', 'Bella...",[]
0,singhbaiju94@gmail.com,+91 7338631508,BAIJU KUMAR,2004,[],"['data scientist', 'scientist', 'partner', 'cl...",[],"['Known: English and Hindi', 'Kaggle Id: https...",['Present Larsen & Toubro Technology Services ...
0,bhakthipoorna@gmail.com,018-2020,,1,['mangalore university'],"['science intern', 'data scientist', 'scientist']",[],"['● Python ● R programming', '● Numpy ● Pandas...",[]
0,​dehliaredker@gmail.com,7385069520,DEHLIA REDKER,0,"['bangalore university', 'goa university']",['data analyst'],[],"['Python', 'SQL', 'CORE SKILLS', 'Mathematics'...",['Oracle']
0,dineshbabu0394@gmail.com,+91 8072215500,DINESH BABU,3,[],"['data scientist', 'scientist', 'business deve...",[],"['Pre-processing: Pandas', ' Numpy', 'Visualiz...",['Face Recognition']
0,dev26.sachan@gmail.com,+918979065633,DIVYANSHU SACHAN,0,[],"['product development', 'associate']",['e-commerce'],"['CODING ', 'Python', 'R', 'SQL', 'Hadoop', 'D...",['BNY Mellon The Bank of New York Mellon Corpo...
0,gowthamsasapu@gmail.com,7899436370,,0,[],"['data scientist', 'scientist', 'student', 'ba...",[],"['&', 'Liabraries', 'Data Analytics &', 'Wareh...",['PRATIAN TECHNOLOGIES INDIA PVT LTD.']
0,mayank.sharma2293@gmail.com,8285231222,MAYANK SHARMA,0,['banaras hindu university'],"['data scientist', 'scientist', 'data manageme...",[],"['Used Basic SQL', 'SPSS', 'MS-Word & MS-Excel...",[]
0,nagendra.231195@gmail.com,+91-8375020331,NAGENDRA SINGH,2,[],"['scientist', 'analyst programmer']",['B.Tech'],"['ó', 'Data Wrangling', 'Amazon Redshift (SQL)...",['Accenture Solutions']
0,nishkarshsingh94@gmail.com,7007867390,,0,[],"['data scientist', 'scientist', 'programmer an...",[],"['offers', 'business education', 'big data', '...",[]
0,https://inblog.in/@prajnadasstats,+91 7982273350,https://inblog.in/@prajnadasstats Tableau,0,"['indian statistical institute', 'university o...","['quality control', 'business analytics intern...",['Diploma degree'],"['Academics: Statistical Inference', ' Testing...",[]
0,rajeshwarsehdev@gmail.com,+91-8130752536,Rajeshwar Sehdev,5,['guru gobind singh indraprastha university'],"['data scientist', 'scientist', 'classifier']",[],"['framework', 'windows', 'ec2', 'big data', 'n...",[]
0,kulkarnimandar96@gmail.com,+91 9145296745,MANDAR KULKARNI,0,[],"['student', 'machine learning intern', 'analyt...",[],"['Python', 'R programming', 'Core Java', 'SQL'...",[]
0,rohitkhemka0@gmail.com,+91-7894850318,ROHIT KHEMKA,4,[],"['system engineer', 'cyber security']",[],"['ET', 'AWARDS', '2-SERVICE COMMITMENT AWARDS'...",[]
0,kumarsai610@gmail.com,+91 7981229624,KUMAR Tel,3,['christ university'],"['data scientist', 'scientist', 'financial aid...",[],"['r', 'operations', 'documentation', 'risk', '...",[]
0,swap1546@gmail.com,9989252101,SAI CHAWAN,0,[],"['business analyst', 'data analyst']",[],"['➢ Platform- Windows.', '➢ Languages- R', ' P...",[]
0,savneet.kaur.a@gmail.com,+91 7837833745,Savneet Kaur,4,['panjab university'],"['senior business analyst', 'business analyst'...",[],"['R Programming Python', 'Predictive Modelling...",[]
0,srai217@outlook.com,+91-7987635930,,0,[],"['senior systems engineer', 'systems engineer'...",[],"['& scripting: Python', ' R', ' SQL', ' Jupyte...",['Infosys XPO Logistic Hackathon']
0,sindhumatipanigrahi@gmail.com,7019437895,SINDHUMATI PANIGRAHI,9,[],"['data scientist', 'scientist', 'data analyst']",[],"['r', 'spark', 'office', 'linkedin', 'customer...","['Zealeers Technologies Pvt Ltd', 'BROWSING TR..."
0,soumojit.chowdhury@gmail.com,+91-9874113384,Python Developer/,6,"['west bengal university of technology', 'univ...","['data scientist', 'scientist', 'devops', 'pyt...",[],"['Known: English', '', 'Bengali', ' Hindi', 'P...","['9874113384 LinkedIn', 'Cognizant Technology ..."
0,souravjb415@gmail.com,967 467 4965,Sourav Bhunia,0,"['indian institute of technology, bombay']","['data scientist', 'scientist', 'development l...",[],"['Statistics and Statistical Modelling', 'Time...",[]
0,Vivek.angadi@harman.com,810 584 8885,Vivek Angadi,0,[],"['data scientist', 'scientist', 'senior data s...",[],"['Machine Learning', 'Very Good', 'Python Scik...","['Vivek.angadi@harman.com LinkedIn', 'A Fortun..."